<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="~{common/common::header}" />
	<h1>메모장</h1>
	<div>
		<form action="/memo" method="post">
			<textarea name="memoContent" rows="3" cols="80" placeholder="메모를 입력하세요"></textarea>
			<button type="submit">입력</button>
			
		</form>
	</div>
	<div>
		<table>
			<tr>
				<td>메모번호</td>
				<td>내용</td>
				<td>작성시간</td>
			</tr>
			<tr th:each ="dto:${list}">
				<td th:text="${dto.no}"></td>
				<td th:text="${dto.content}"></td>
				<td th:if="${today eq dto.createdDate.toLocalDate()}" 
				th:text="${#temporals.format(dto.createdDate, 'HH:mm')}"></td>
				<td th:unless="${today eq dto.createdDate.toLocalDate()}" 
				th:text="${#temporals.format(dto.createdDate, 'yyyy/MM/dd')}"></td>
				<td>
					<form th:action="|/memo/${dto.no}|" method="post">
						<input type="hidden" name="_method" value="delete" />
						<button>삭제</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
	<th:block th:insert="~{common/common::footer}" />

</body>
</html>